<!DOCTYPE html>
<html>
<head>
  <title>QuestionPi</title>
</head>
<body>
  <h2>All questions to the scholar</h2>
  <p id="demo"></p>
</body>
</html>

<script>
  const xhr = new XMLHttpRequest();
  xhr.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("demo").innerHTML =
      this.response;
    }
  };
    xhr.open("GET", "http://localhost:8000/questions/");   
    xhr.setRequestHeader("Content-Type", "application/json");     
    xhr.setRequestHeader("Access-Control-Allow-Headers","Content-Type, X-Auth-Token, Origin, Authorization");
    xhr.setRequestHeader("Access-Control-Allow-Origin","*")
    xhr.setRequestHeader("Access-Control-Allow-Methods", "POST,GET,OPTIONS,PUT,DELETE")
    xhr.send();
</script>